<%= form_for(@unit) do |f| %>
  <% if @unit.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@unit.errors.count, "error") %> prohibited this unit from being saved:</h2>

      <ul>
      <% @unit.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :product_id %><br>
    <%= f.number_field :product_id %>
  </div>
  <div class="field">
    <%= f.label :netto_price %><br>
    <%= f.text_field :netto_price %>
  </div>
  <div class="field">
    <%= f.label :vat %><br>
    <%= f.text_field :vat %>
  </div>
  <div class="field">
    <%= f.label :is_sold %><br>
    <%= f.check_box :is_sold %>
  </div>
  <div class="field">
    <%= f.label :sold_at %><br>
    <%= f.datetime_select :sold_at %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
