<p id="notice"><%= notice %></p>

<p>
  <strong>Method:</strong>
  <%= @shipment.method %>
</p>

<p>
  <strong>Price:</strong>
  <%= @shipment.price %>
</p>

<p>
  <strong>Is complete:</strong>
  <%= @shipment.is_complete %>
</p>

<%= link_to 'Edit', edit_shipment_path(@shipment) %> |
<%= link_to 'Back', shipments_path %>
